body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: black;
    transition: all 0.3s ease;
    padding: 20px;
}
.high-contrast {
    background-color: black;
    color: rgb(0, 0, 0);
}
.large-text {
    font-size: 1.5em;
}
.dark-theme {
    background-color: #6c3e72;
    color: #000000;
}
header, footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #44415c;
    color: white;
    border-radius: 10px;
}
nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}
nav a:hover {
    text-decoration: underline;
}
main {
    max-width: 800px;
    margin: auto;
    text-align: center;
}
section {
    margin: 30px 0;
    padding: 20px;
    border-radius: 10px;
    background: #f0f0f0;
}
button {
    margin: 10px;
    padding: 12px 20px;
    font-size: 1em;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #373557;
    color: rgb(0, 0, 0);
}
button:hover {
    background-color: #19118f;
}